<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<body>

<div class="container">
    <div class="register-box">
        <h2>Criar Conta</h2>

        <form method="POST">

            <div class="input-group">
                <input type="text" name="nome" required>
                <label>Nome</label>
            </div>

            <div class="input-group">
                <input type="email" name="email" required>
                <label>Email</label>
            </div>

            <div class="input-group">
                <input type="password" name="senha" required>
                <label>Senha</label>
            </div>

            <div class="input-group">
                <input type="text" name="bairro">
                <label>Bairro</label>
            </div>

            <div class="input-group">
                <input type="text" name="cidade">
                <label>Cidade</label>
            </div>

            <div class="select-group">
                <label>Perfil</label>
                <select name="perfil">
                    <option value="usuario">Usuário</option>
                    <option value="admin">Administrador</option>
                </select>
            </div>

            <button type="submit">Cadastrar</button>
        </form>

        <p class="login-link">
            Já tem conta? <a href="{{ url_for('login.login') }}">Entrar</a>
        </p>

    </div>
</div>

</body>
</html>